@media only screen and (min-width:800px){
    .carousel-inner{
        height: 50vh;
    }
    .carousel-img{
        height: 50vh;
    }

}
.carousel-control-prev:hover{
    background-color: transparent;
}
.carousel-control-next:hover{
    background-color: transparent;
}